---
import Navbar from '../components/Navbar.jsx';
import AyudaComponent from '../components/Ayuda.jsx'
import Layout from '../layouts/Layout.astro';
---

<Layout>
<Fragment slot="head">
   <title>Ayud</title>
</Fragment>
<main class="container my-4 flex-grow-1">
<AyudaComponent />
</main>
</Layout>
