---
import Navbar from '../components/Navbar.jsx';
import { SITE_BASE } from '../config';
import Layout from '../layouts/Layout.astro';
import Carousel from '../components/carousel.astro';
import CarruselProgramaSkeleton from '../components/EsqueletoIndex';
import Banner from '../components/banner'
---
<Layout>
    <Fragment slot="head">
        <title>Página de Recursos LSM | UVP </title>
    </Fragment>
    <main class="container my-4 flex-grow-1">
        <div class="row align-items-center">
            <div class="col-md-12">
                <h1 class="mb-3">Plataforma lengua de señas mexicana</h1>
                <p class="lead">
                    En este curso de lengua de señas mexicana aprenderás a aplicar los fundamentos de la comunicación en señas, con el fin de fomentar la inclusión, la accesibilidad y la empatía hacia personas con discapacidad auditiva.
                </p>

                <!-- Contenedor del carrusel y el programa -->
                <div class="carousel-container mt-4">
                    <!-- Carrusel -->
                    <Carousel server:defer>
                        <div class="carousel-col">
                            <div id="carouselSentimiento" class="carousel slide carousel-fade mt-4" data-bs-ride="carousel">
                                <div class="carousel-inner">
                                    <div class="carousel-item active">
                                        <img src='/loading.gif' class="d-block w-100" alt="Imagen 1" />
                                    </div>
                                </div>
                            </div>
                        </div>
                    </Carousel>
                    <!-- Programa del curso con submenús desplegables -->
                    <div class="programa-col ms-4">
                        <Banner/>
                        <div class="programa-curso mt-5">
                            <h2>Temas:</h2>
                            <div class="accordion" id="programaAccordion">
                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingUnidad1">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUnidad1" aria-expanded="true" aria-controls="collapseUnidad1">
                                           Fundamentos en inclusión y discapacidad auditiva
                                        </button>
                                    </h2>
                                    <div id="collapseUnidad1" class="accordion-collapse collapse" aria-labelledby="headingUnidad1" data-bs-parent="#programaAccordion">
                                        <div class="accordion-body">
                                            Aquí se exploran los principios fundamentales de la inclusión y las bases de la discapacidad auditiva.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingUnidad2">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUnidad2" aria-expanded="true" aria-controls="collapseUnidad2">
                                            Lengua de Señas Mexicana: Historia y origen
                                        </button>
                                    </h2>
                                    <div id="collapseUnidad2" class="accordion-collapse collapse" aria-labelledby="headingUnidad2" data-bs-parent="#programaAccordion">
                                        <div class="accordion-body">
                                            En esta unidad se aborda la historia y origen de la Lengua de Señas Mexicana (LSM), sus características y su importancia en la comunicación de la comunidad sorda.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingUnidad3">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUnidad3" aria-expanded="true" aria-controls="collapseUnidad3">
                                            Estructura gramatical de la Lengua de Señas Mexicana
                                        </button>
                                    </h2>
                                    <div id="collapseUnidad3" class="accordion-collapse collapse" aria-labelledby="headingUnidad3" data-bs-parent="#programaAccordion">
                                        <div class="accordion-body">
                                            En esta unidad se estudiarán los aspectos gramaticales de la Lengua de Señas Mexicana, cómo se estructuran las frases y la importancia del espacio en la comunicación.
                                        </div>
                                    </div>
                                </div>

                                <div class="accordion-item">
                                    <h2 class="accordion-header" id="headingUnidad4">
                                        <button class="accordion-button" type="button" data-bs-toggle="collapse" data-bs-target="#collapseUnidad4" aria-expanded="true" aria-controls="collapseUnidad4">
                                            Uso de la Lengua de Señas Mexicana en la vida diaria
                                        </button>
                                    </h2>
                                    <div id="collapseUnidad4" class="accordion-collapse collapse" aria-labelledby="headingUnidad4" data-bs-parent="#programaAccordion">
                                        <div class="accordion-body">
                                            En esta unidad se explorarán los usos cotidianos de la Lengua de Señas Mexicana, cómo interactuar con personas sordas en diferentes contextos y situaciones.
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

                <!-- Línea separadora punteada -->
                <hr class="dotted-separator">
            </div>
        </div>
    </main>
</Layout>

</body>
</html>
