---
import Navbar from '../components/Navbar.jsx';
import JuegosComponent from '../components/Juegos.jsx'
import Layout from '../layouts/Layout.astro';
---

<Layout>
  <Fragment slot="head">
     <title>Aprende con juegos </title>
  </Fragment>
  <main class="container my-4 flex-grow-1">
  <JuegosComponent />
  </main>
</Layout>
  
