---
import Navbar from '../components/Navbar.jsx';
import NosotrosComponent from '../components/Nosotros.jsx';
import Layout from '../layouts/Layout.astro';
---
<Layout>
  <Fragment slot="head">
    <title>Recursos</title>
  </Fragment>
  <main class="container my-4 flex-grow-1">
    <NosotrosComponent />
  </main>
</Layout>