<div class="carousel-col">
    <div id="carouselSentimiento" class="carousel slide carousel-fade mt-4" data-bs-ride="carousel">
        <div class="carousel-inner">
            <div class="carousel-item active">
                <img src='/1.jpg' class="d-block w-100" alt="Imagen 1" />
            </div>
            <div class="carousel-item">
                <img src='/2.jpg' class="d-block w-100" alt="Imagen 2" />
            </div>
            <div class="carousel-item">
                <img src='/3.jpg' class="d-block w-100" alt="Imagen 3" />
            </div>
            <div class="carousel-item">
                <img src='/4.jpg' class="d-block w-100" alt="Imagen 4" />
            </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselSentimiento" data-bs-slide="prev">
            <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselSentimiento" data-bs-slide="next">
            <span class="carousel-control-next-icon" aria-hidden="true"></span>
        </button>
    </div>
</div>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const carousel = document.getElementById('carouselSentimiento');
            if (carousel){
                carousel.classList.add('animate__animated', 'animate__fadeInUp');
            }     
        });
    </script>