.skeleton-wrapper {
  display: flex;
  flex-direction: column;
}

.skeleton {
  background: linear-gradient(90deg, #eee, #ddd, #eee);
  background-size: 200% 100%;
  animation: pulse 1.5s infinite;
  border-radius: 5px;
}

.skeleton-line {
  height: 20px;
  margin-bottom: 8px;
}

.skeleton-img {
  width: 100%;
}

@keyframes pulse {
  0% {
    background-position: -150% 0;
  }
  100% {
    background-position: 150% 0;
  }
}
