---

---
    <footer class="footer-custom text-white py-4 mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-6 mb-3 mb-md-0">
                    <h5 class="fw-bold">Legales</h5>
                    <ul class="list-unstyled">
                        <li>
                            <a href="#" class="text-white">Aviso de privacidad</a>
                        </li>
                        <li>
                            <a href="#" class="text-white">Términos de uso</a>
                        </li>
                    </ul>
                </div>
                <div class="col-md-6 text-md-end">
                    <h5 class="fw-bold">Ayuda</h5>
                    <button class="btn btn-outline-light mt-2">Contáctanos</button>
                </div>
            </div>
        </div>
    </footer>